<h1>Past Events</h1>
<% unless @prev_events.empty? %>
  <% @prev_events.each do |event| %>
    <li>
      <%= link_to "#{event.title}", event %>
    </li>
  <% end %>
  <% else %>
    <li>
      No past events.
    </li>
<% end %>

<h1>Upcoming Events</h1>
<% unless @upcoming_events.empty? %>
  <% @upcoming_events.each do |event| %>
    <li >
      <%= link_to "#{event.title}", event %>
      <%= render 'attendance_form', :event => event %>
    </li>
  <% end %>
  <% else %>
    <li>
      No Upcoming events.
   </li>
<% end %>

