<h1>Past Events</h1>
<% unless Event.past.empty? %>
  <% Event.past.each do |event| %>
    <li>
      <%= link_to "#{event.title}", event %>
    </li>
  <% end %>
  <% else %>
    <li>
      No past events.
    </li>
<% end %>

<h1>Upcoming Events</h1>
<% unless Event.upcoming.empty? %>
  <% Event.upcoming.each do |event| %>
    <li >
      <%= link_to "#{event.title}", event %>
      <%= render 'attend_form' if logged_in? %>
    </li>
  <% end %>
  <% else %>
    <li>
      No Upcoming events.
   </li>
<% end %>

