<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="col-md-8">
    <% if current_user.upcoming_events.any? %>
      <h3> Your Upcoming Events </h3>
      <% current_user.upcoming_events.each do |upcoming_event| %>
          <%= render upcoming_event %>
      <% end %>
    <% end %> 

    <% if current_user.previous_events.any? %>
      <h3> Past Attended Events </h3>
      <%  current_user.previous_events.each do |past_event| %>
          <% render past_event %>
      <% end %> 
    <% end %>
  </div>
</div>